<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button class="bordered" fill="solid" color="light-zero" (click)="singleClick()" (dblclick)="doubleClick()">
          <ion-icon src="assets/svg/signature.svg"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-item lines="none">
    <img src="assets/svg/welcome_icon.svg">
  </ion-item>
</ion-header>


<ion-content>
  <ion-text>
    <h1>Welcome!</h1>
    <p class="just">
      A small team of elves want to made the best of the current situation.
      We can't celebrate together but we can connect the same way as this App do with the
      Smart Christmas. We wish you the health and still Merry Christmas
    </p>
    <P>Please be sure your bluetooth is activated before you continue!</P>
  </ion-text>
</ion-content>

<ion-footer>
  <ion-button (click)="navigateToScan()" color="primary" fill="solid" shape="round" expand="block">Scan</ion-button>
</ion-footer>